/* Menu-Toggle */
.nav-mobile {
    display: none;
}

.menu-toggle {
    width: 32px;
    height: 21px;
    padding: 1px 6px;

    border: none;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-toggle span {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 2px;
    transition: transform 0.3s, opacity 0.3s;
}

.menu-toggle.open span:nth-child(1) {
    transform: translateY(8.26px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: translateY(-8.26px) rotate(-45deg);
}

@media (max-width: 1024px) {
    /* ERROR */
    .error {
        position: relative;
        overflow: hidden;
    }

    .error404::before {
        content: "";
        position: absolute;
        inset: 0;

        background: url('../assets/img/Error404.png') center / cover no-repeat;
        filter: blur(1.5px);

        z-index: 0;
    }

    .error-dev::before {
        content: "";
        position: absolute;
        inset: 0;

        background: url('../assets/img/dev.png') center / cover no-repeat;
        filter: blur(1.5px);

        z-index: 0;
    }

    .error-login::before {
        content: "";
        position: absolute;
        inset: 0;

        background: url('../assets/img/iniciar.png') center / cover no-repeat;
        filter: blur(1.5px);

        z-index: 0;
    }

    /* щоб контент був поверх */
    .error > * {
        position: relative;
        z-index: 1;
    }

    .error_content {
        width: 100%;
        background-color: var(--main-shadow);
        margin: 0 auto;

        padding: 12px;
        border-radius: clamp(4px, 1vw, 24px);
    }

    .error img {
        display: none;
    }
}

@media (max-width: 935px) {
    .book-card {
        width: calc(50% - 12px);
    }
    
    /* LoGo */
    .logo .logo-desktop {
        display: none;
    }

    .logo .logo-mobile {
        display: block;
    }
}

@media (max-width: 770px) {
    /* NAV */
    .nav {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .nav.open {
        display: block;
        background-color: var(--main-color);
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        z-index: 100;
    }

    .nav.open {
        max-height: 300px;
        opacity: 1;
    }

    /* INTRO */
    .intro {
        height: 100%;

        justify-content: center;
        text-align: center;
    }

    .intro_content {
        width: 100%;
        max-width: none;
    }

    .intro_text {
        text-align: justify;
    }

    .six {
        position: relative;

        width: 50%;
        max-width: 340px;

        transform: none;
    }

    /* SEPARATOR */
    .firefly:nth-child(1)  { animation-duration: 6s; top: calc(10% + 20px); animation-delay: 0s; }
    .firefly:nth-child(2)  { animation-duration: 10s; top: calc(40% + 20px); animation-delay: 2s; }
    .firefly:nth-child(3)  { animation-duration: 5s;  top: calc(70% - 20px); animation-delay: 4s; }
    .firefly:nth-child(4)  { animation-duration: 12s; top: calc(25% + 10px); animation-delay: 1s; }
    .firefly:nth-child(5)  { animation-duration: 8s; top: calc(55% - 10px); animation-delay: 7s; }
    .firefly:nth-child(6)  { animation-duration: 11s; top: calc(15% + 15px); animation-delay: 3s; }
    .firefly:nth-child(7)  { animation-duration: 7s; top: calc(80% - 20px); animation-delay: 8s; }
    .firefly:nth-child(8)  { animation-duration: 14s; top: calc(45% + 10px); animation-delay: 4s; }
    .firefly:nth-child(9)  { animation-duration: 9s; top: calc(20% + 15px); animation-delay: 6s; }
    .firefly:nth-child(10) { animation-duration: 13s; top: calc(65% - 10px); animation-delay: 9s; }

    /* CATEGORIES */
    .inner_section {
        justify-content: center;
        text-align: center;
    }

    .categories_content {
        width: 100%;
        max-width: none;
    }

    .categories {
        width: 100%;
        max-width: none;
    }

    .movie-section {
        justify-content: center;
        text-align: left !important;
    }

    /* MOVIE-CARD */
    .inner_movie_section,
    .inner_book_section  {
        text-align: left;
    }

    .movie-card {
        width: 82.5%;
    }

    /* SECTION */
    .title-left {
        text-align: inherit;
    }

    .section_text {
        text-align: justify;
    }

    .section_content {
        width: 100%;
    }

    /* FORM */
    .form-grid {
        grid-template-columns: 1fr 1fr;
    }

    .message-group {
        grid-column: 1 / span 2;
        grid-row: auto;
        
        height: 176px;
    }

    .form-btn {
        grid-column: 1 / span 2;
        justify-self: center;
        margin: 0;
    }

    /* Tracks */
    .music-page-layout {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }

    .main-audio-card {
        margin: 0 auto;
    }

    /* Movie-Details */
    .movie-details-layout {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .movie-details-title {
        text-align: center;
    }

    .movie-details-info {
        justify-content: center;
    }
}

@media (max-width: 630px) {
    /* BOOK-CARD */
    .book-card {
        width: 100%;
    }
}

@media (max-width: 430px) {
    /* ERROR */
    .error_btns_container {
        justify-content: center;
    }
    
    /* INTRO */
    .six {
        width: 100%;
    }

    /* CATEGORIES */
    .categorie-img {
        width: 100%;
    }

    .categorie_title {
        opacity: 1;
    }

    /* FORM */
    .form-grid {
        grid-template-columns: 1fr;
    }

    .message-group {
        grid-column: auto;
        grid-row: auto;
    }

    .form-btn {
        grid-column: auto;
        justify-self: stretch;
    }

    /* MOVIE-CARD */
    .movie-card {
        width: 100%;
    }

    .description,
    .book-card-description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    .genres {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    
    .card-content,
    .book-card-info {
        padding: 16px 4px;
    }

    /* BOOK-CARD */
    .book-card-info {
        padding-top: 50px;
    }

    /* TRAILER */
    .trailer-section {
        height: calc(100vh - var(--header-height, 62px));
    }
}

@media (max-width: 380px) {
    /* MOVIE-CARD */
    .description,
    .book-card-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}

@media (max-width: 350px) {
    /* MOVIE-CARD */
    .description,
    .book-card-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}