/* COLORS */
:root {
    --main-color: #151515;
    --main-shadow: rgba(21, 21, 21, .6);

    --accent-color: #F5CB5C;
    --accent-glow: rgba(245, 203, 92, 0);
    --accent-shadow: rgba(245, 203, 92, .4);

    --secondary-color: #F2ECDD;
    --pagination-color: rgba(242, 236, 221, .7);
    
    --text-color: #FFFFFF;
    --btn-text-color: #000000;

    --relation-border-color: #495057;
}

[data-theme="light"] {
    --main-color: #FEFEFE;
    --main-shadow: rgba(254, 254, 254, .6);
    
    --accent-color: #EF6C00;
    --accent-glow: rgba(239, 108, 0, 0);
    --accent-shadow: rgba(239, 108, 0, .4);

    --secondary-color: #686868;
    --pagination-color: rgba(104, 104, 104, .7);

    --text-color: #000000;
    --btn-text-color: #FFFFFF;

    --relation-border-color: #dee2e6;
}

/* MAIN */
body {
    background-color: var(--main-color);
    margin: 0 auto;

    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;

    display: block;
    object-fit: cover;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1224px;
  padding: 0 12px;
  margin: 0 auto;
}

/* HEADER */
#header {
  width: 100%;
  padding: 12px 0;
  background-color: var(--main-color);
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;
}

.inner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Permanent Marker", cursive;
    font-size: 20px;

    color: var(--secondary-color);    
    text-align: center;
    text-decoration: none;
}

.logo .logo-mobile {
  display: none;
}

/* NAV */
nav ul {
    list-style: none;
    padding: 0 12px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 24px;
    row-gap: 12px;
}

.nav_link {
    color: var(--text-color);
    text-decoration: none;

    display: inline-block;
    position: relative;
    
    transition: color .2s linear;
}

.nav_link::after {
    content: "";
    display: block;
    position: absolute;

    left: 0;
    bottom: -4px;
    height: 3px;
    width: 100%;
    background-color: var(--accent-color);

    transform: scaleX(0); 
    transition: transform .2s linear;
}

.nav_link:hover {
    color: var(--accent-color);
}

.nav_link:hover::after {
    transform: scaleX(1);
}

.nav_link.active {
    color: var(--accent-color);
}

.nav_link.active::after {
    transform: scaleX(1);
}

/* BUTTONS */
.btn {
    margin: 32px 0;
    background-color: var(--accent-color);
    
    color: var(--btn-text-color);
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    
    display: inline-block;
    cursor: pointer;
    padding: 12px 32px;
    border-radius: 4px;

    transition: transform .2s ease, box-shadow .2s ease;
}    

.sign_btn {
    padding: 8px 24px;
    border-radius: 24px;
    margin: 0;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px var(--accent-shadow);
}

.btn:active {
    transform: translateY(0);
}

/* THEME */
.header-btns-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.theme-dropdown,
.user-dropdown {
    position: relative;
    display: inline-block;
}

.theme-btn,
.profile-btn {
    background: none;
    border: 3px solid var(--accent-color);
    border-radius: 50%;

    padding: 8px 8px;
    width: 41.33px;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;

    transition: transform .2s ease, all .2s ease;
}

.theme-btn:hover,
.profile-btn:hover {
    background: var(--accent-color);
    color: var(--btn-text-color);
}

.theme-menu, .user-menu {
    display: none;
    position: absolute;
    top: 120%;
    right: 0;

    background: var(--main-color);
    border: 3px solid var(--accent-color);
    list-style: none;

    padding: 4px 0;
    margin-top: 4px;
    border-radius: 4px;
    min-width: 120px;

    z-index: 100;
}

.theme-menu.show,
.user-menu.show {
    display: block;
}

.theme-menu li,
.user-menu li {
    padding: 8px 12px;
    cursor: pointer;
    color: var(--text-color);

    display: flex;
    align-items: center;
    gap: 8px;
}

.theme-menu li:hover,
.user-menu li:hover {
    background: var(--accent-color);
    color: var(--main-color);
}

.user-menu li {
    padding: 0;
}

.user-menu li a {
    display: block;    
    width: 100%;       
    padding: 8px 12px; 
    text-decoration: none;
    color: inherit;
}

.user-menu li a:hover {
    background-color: var(--hover-color); 
}

/* INTRO */
.intro {
    position: relative;
    margin: 64px 0;
    height: calc(100vh - var(--header-height, 62px) - 64px);
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.intro_content {
    width: 57.5%;
    max-width: 690px;
}

.intro_title, error_title {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: clamp(31px, calc(20.381px + 3.319vw), 61px);
}

/* SIX */
.six {
    position: absolute;
    right: 0;
    top: 50%;
    
    width: 40.5%;
    max-width: 486px;
    transform: translateY(-50%);
}

.six-img-container {
    position: relative;

    display: inline-block;
    float: right;
}

.six-img {
    width: 100%;
    float: right;
    object-fit: contain;
    object-position: right;

    height: auto;
    max-height: calc(100vh - var(--header-height, 62px) - 64px);
}

/* FIRE-GLOW*/
.fire-glow {
    position: absolute;

    width: 24px;
    height: 24px;
    background: radial-gradient(circle, var(--accent-color) 0%, var(--accent-glow) 70%);
    border-radius: 50%;

    filter: blur(8px);
    animation: flicker 1.5s infinite alternate ease-in-out;
    pointer-events: none;
}

.glow-light {
    bottom: 21%;
    right: 9%;
}

.glow-dark {
    top: 2%;
    right: 24%;
}

/* SEPARATOR */
.separator {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    pointer-events: none;
    padding: 20px 0;         
}

.firefly {
    position: absolute;
    width: clamp(16px, calc(13.168px + 0.885vw), 24px);
    height: clamp(16px, calc(13.168px + 0.885vw), 24px);
    background: var(--accent-color);
    box-shadow: 2px 4px 12px var(--accent-shadow);
    opacity: 0;
    left: 0;
    top: 0;

    animation: fly-horizontal linear infinite;
    will-change: transform, opacity;
}

/* Розподіл по висоті + компенсація padding */
.firefly:nth-child(1)  { animation-duration: 10s; top: calc(10% + 20px); animation-delay: 0s; }
.firefly:nth-child(2)  { animation-duration: 14s; top: calc(40% + 20px); animation-delay: 2s; }
.firefly:nth-child(3)  { animation-duration: 9s;  top: calc(70% - 20px); animation-delay: 4s; }
.firefly:nth-child(4)  { animation-duration: 16s; top: calc(25% + 10px); animation-delay: 1s; }
.firefly:nth-child(5)  { animation-duration: 12s; top: calc(55% - 10px); animation-delay: 7s; }
.firefly:nth-child(6)  { animation-duration: 15s; top: calc(15% + 15px); animation-delay: 3s; }
.firefly:nth-child(7)  { animation-duration: 11s; top: calc(80% - 20px); animation-delay: 8s; }
.firefly:nth-child(8)  { animation-duration: 18s; top: calc(45% + 10px); animation-delay: 4s; }
.firefly:nth-child(9)  { animation-duration: 13s; top: calc(20% + 15px); animation-delay: 6s; }
.firefly:nth-child(10) { animation-duration: 17s; top: calc(65% - 10px); animation-delay: 9s; }

/* SECTION */
.section {
    margin: 64px 0;
}

.section_title {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: clamp(20px, calc(13.274px + 2.102vw), 39px);
    text-align: center;
}

.title-left {
    text-align: left;
}

.section_title, .intro_title, .error_title {
    margin-bottom: 24px;
}

.intro_text, .section_text {
    text-align: justify;
}

/* CATEGORIES */
.inner_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 24px;
}

.categories_content {
    width: calc(50% - 12px);
    max-width: 600px;
}

.categories {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 12px;

    width: calc(50% - 12px);
    max-width: 576px;
}

.categorie-img {
    width: calc(50% - 6px);
    position: relative;

    transition: transform .2s ease, box-shadow .2s ease;
}

.categorie-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 2;
    transition: opacity .2s ease;
}

.categorie-img:hover {
    transform: translateY(2px);
    box-shadow: 4px -4px 4px var(--accent-color);
}

.categorie-img:hover .categorie_title {
    opacity: 1;
}

.categorie-img:hover::after {
    opacity: 1;
}

.categorie_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: opacity .2s ease;
    pointer-events: none;

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: clamp(20px, calc(18.182px + 0.568vw), 25px);

    color: #fff;
}

.highlight-wave {
    animation: glow-pulse 1.5s ease-in-out;
}

/* CONTACTENOS */
.parallax-section {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 472px;
}

.parallax-bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.parallax-bg-inner {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    transform-origin: center center;
}

/* .parallax-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1;
} */

.parallax-window {
    position: relative;
    padding: 24px 0;
}

.contactenos-title {
    color: #fff;
}

/* FORM */
.contact-form {
    width: 100%;
}

.form-grid {
    display: grid;
    grid-template-columns: 33.333% 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 12px;
    column-gap: 24px;
    align-items: stretch;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.message-group {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
}

.form-btn {
    grid-column: 2;              
    justify-self: start; 
    border: none;

    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;

    margin-top: 20px;
    margin-bottom: 0;
}

label {
    margin-bottom: 8px;

    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: #fff;
}

input,
textarea {
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 12px;

    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: #fff;

    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, .7);
} 

textarea {
    flex-grow: 1;
    resize: none;
    min-height: 0;
}

section:last-of-type {
    margin-bottom: 0 !important;
}

/* FOOTER */
.footer {
    padding: 24px 0;
}

.inner_footer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.copyright {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 20px;

    text-align: center;
}